button {
    border: 0;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    cursor: pointer;
}

#blue {background-color: rgb(42, 42, 226)};
#black {background-color: black};
#white { background-color: #efefefba};
#pink {background-color: pink};